.white-section+p{
  color: #fff;
}

#footer{
  background-color: #081538;
  line-height: 3;
  margin:3% auto 0;
}

a.footer-icon{
  color:#fff;
  padding: 15px 10px 10px;
  position:static;
}

.copy-footer{
  color: #717682;
  margin-bottom: 0;
}
