.bar{
  padding-top: 10px;
}

.title-heading{
  font-size: 3rem;
}

.seven-number{
  font-size: 3rem;
  font-family: Nosifer;
}
.title-heading{
  font-size: 2rem;
  text-decoration: none;
}


.navbar-nav, .nav-link{
  color: #fff;
  font-size: 1.3rem;
  justify-content: end;
}
.collapse{
  justify-content: end;
}
